*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
/* *<.625*16= 10px> 1rem= 10px, 10px/16px= 62.5%  */
html {
  font-size: 62.5%;
}
/* *(600px / 16px = 37.5em) PHONE <<<<< */
@media (max-width: 37.5em) {
  /* *<.5*16= 8px> 1rem= 8px, 8px/16px= 50%  */
  html {
    font-size: 50%;
  }
}

img {
  height: auto;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

body {
  background-color: #6495ed;

  color: #666;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 1.2;
}
/*----------- Header ------------ */
.header {
  background-image: linear-gradient(
      130deg,
      rgba(241, 241, 241) 0%,
      rgba(241, 241, 241) 50%,
      transparent 50%
    ),
    url(./img/velocidad_762x345.jpg);

  margin: 0 auto;
  max-width: 70rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.header__box {
  padding: 3rem 0;
  margin-left: 2rem;
}
.header__box--h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-left: -2.2px;
  font-weight: lighter;
}
.header__box--p {
  font-size: 1rem;
  font: -webkit-control;
}
/* *{900px / 16px = 56.25em} TABLET PORTRAIT <<<<< */
@media (max-width: 56.25em) {
  .header__box--h1 {
    font-size: 2rem;
  }
  .header__box--p {
    font-size: 1.1rem;
  }
}
/*----------- Body ------------ */
.form {
  color: #f1f1f1;
  margin: 0 auto;
  max-width: 70rem;
  padding: 1rem 0;
}
.form__fieldset {
  border: 0.1rem solid transparent;
  -webkit-box-shadow: 0rem 0.4rem 1rem 0.4rem rgba(0, 0, 0, 0.253);
  box-shadow: 0rem 0.4rem 1rem 0.4rem rgba(0, 0, 0, 0.253);
  margin: 0 5rem;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
}
.form__legend {
  font-size: 3rem;
  font-family: fantasy;
}
.form__box:not(:last-child) {
  margin-bottom: 0.6rem;
}
.form__label {
  font-size: 1rem;
  font: menu;
}
.form__select {
  background-color: #f1f1f1;
  border: 1px solid #4682b4;
  width: 100%;
  padding: 0.8rem 0.5rem;
  border-radius: 0.5rem;
  font-variant: all-small-caps;
}
.form__select:focus {
  border: 1px solid #4682b4;
  outline: 0;
}
.form__h1 {
  font: caption;
  margin-top: 1.5rem;
}
.form__cont:not(:last-child) {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.form__label--seguro {
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
}
.form__radio--bottom {
  height: 2rem;
  width: 2rem;
  border: 5px solid #f1f1f1;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.15rem;
}
.form__radio--bottom::after {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  background-color: #f1f1f1;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.form__input {
  display: none;
}
.form__input:checked ~ .form__label--seguro .form__radio--bottom::after {
  opacity: 1;
}
.btn {
  -webkit-box-shadow: 0rem 0.2rem 0.3rem rgba(51, 51, 51, 0.25);
  box-shadow: 0rem 0.2rem 0.3rem rgba(51, 51, 51, 0.25);
  outline: 0;
  padding: 0.9rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;

  -webkit-transition-timing-function: ease-in-out;

  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn:hover {
  -webkit-box-shadow: 0rem 0.3rem 0.5rem rgba(51, 51, 51, 0.164);
  box-shadow: 0rem 0.3rem 0.5rem rgba(51, 51, 51, 0.164);
  -webkit-transform: translateY(-0.08rem);
  transform: translateY(-0.08rem);
}
.btn__color[type="submit"]:disabled {
  color: #f1f1f1;
  background-color: #1e90ff;
}
/*----------- Resultado ------------ */
.resultado {
  margin: 0 auto;
  max-width: 70rem;
  font-size: 2.5rem;
}
.resul__h1 {
  color: #f1f1f1;
  padding: 1rem 0;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: -webkit-pictograph;
}
.resul__ul {
  border-left: 0.5rem solid #4682b4;
  margin: 0 5rem;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 1rem 2rem;
}
.resul__li {
  background: #8a819757;
  margin: 0.5rem;
  padding: 1rem;
}
.resul__li::after {
  content: "";
  clear: both;
  display: table;
}
.resul__p-b {
  float: left;
  font: caption;
}
.resul__p--span {
  float: right;
  font: caption;
}

/*----------- Footer ------------ */
.footer {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  margin: 1.5rem auto;
  padding: 4rem 0;
  max-width: 70rem;
}
.footer__p {
  text-align: center;
  font: message-box;
  font-weight: bolder;
}
/* *{900px / 16px = 56.25em} TABLET PORTRAIT <<<<< */
@media (max-width: 56.25em) {
  .footer__p {
    font-size: 1.3rem;
  }
}
